:root {
  --background-color: #ffffff;
  --foreground-color: #171717;
  --color-archive-record: #8899aa;
  --color-list-border: #123456;
  --color-primary: #123456;
  --color-success: #2e7d32;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gold: #e7c785;
  --page-header-height: 40px;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.layout-definition {
  height: 100%;
  overflow: hidden;
}

.page-header {
  height: var(--page-header-height);
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.page-content {
  height: calc(100% - var(--page-header-height));
  overflow-y: auto;
}

.MuiDataGrid-columnHeader {
  .MuiDataGrid-columnHeaderTitle {
    font-weight: 600;
  }
}
